<div class='account_page'>
  <h3>プロフィール</h3>
  <table class='account_table'>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td>**********</td>
    </tr>
  </table>
</div>
<li class="menu_li"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></li>
