<div class="default_show_area">
  <div class="defult_show">
    <div class="defult_subtitle pt-5 text-center">
      <h1 class="border-start border-end border-secondary border-3">さっそく旅行プランを作成してみよう！</h1>
    </div>
    <hr>
    <div class="travel_create_area text-center mt-5">
      <%= link_to '旅行プランを作成する', new_travelplan_path, class: 'btn btn-outline-info pt-3 pb-3 fs-2' %>
    </div>
    <div class="travel_tentative mt-5">
      <p>例：旅行名→東京旅行 行先→東京 宿泊日数→３泊 作成!!</p>
      <p>↓サンプル↓</p>
      <% image_url = "https://potepanecportfolio.s3.ap-northeast-1.amazonaws.com/prefectures/tokyo.png" %>
      <div class="sumple_image" style="background-image: url('<%= image_url %>');">
        <div class="sumple_area">
          <h2 class="text-white mb-0 d-flex">東京旅行</h2>
          <div class="d-flex flex-row bd-highlight">
            <h1 class="sumple_prefecture_name mb-0">東京</h1>
            <p class="text-white mt-3 p-0 sumple_day">宿泊日数:３泊</p>
            <p class="text-white mt-3 p-0 sumple_detail">詳細</p>
          </div>
        </div>
        <div class="sumle-detail">
          <ol class="list-group">
            <h3 class="d-flex text-white">1Day</h3>
            <hr>
            <li class="d-flex">朝食：築地市場で新鮮な海鮮丼を食べる</li>
            <li class="d-flex">午前中：浅草寺と雷門を訪れる</li>
            <li class="d-flex">昼食：浅草周辺でラーメンを食べる</li>
            <li class="d-flex">午後：上野公園で散歩し、国立博物館や動物園を訪れる</li>
            <li class="d-flex">夕食：東京駅周辺で焼肉を食べる</li>
            <li class="d-flex">夜：東京タワーで夜景を楽しむ</li>
            <div class="omission d-flex">
              <hr><span>--省略--</span><hr>
            </div>
          </ol>
          <button class="close-button">閉じる</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  $('.sumple_area, .close-button').on('click', function() {
    let contentArea = $(this).hasClass('sumple_area') ? $(this).next(".sumle-detail") : $(this).parent(".sumle-detail");
    contentArea.slideToggle(function() {
      if (!contentArea.is(':visible')) {
        $('html, body').scrollTop(contentArea.prev('.sumple_area').offset().top);
      }
    });
    $(this).toggleClass('close');
  });
});
</script>
