<div class="copyRight">
  <div class="container">
    <p class="mb-0">お問い合わせは<%= link_to "こちら", "#" %></p>
    <hr>
    <p class="mb-0">©著作者:lifeforstock/出典:Freepik、【写真の権利者としてFIND/47において表示された者】、クリエイティブ・コモンズ・ライセンス（表示4.0 国際） 当サイト上で使用しているゲーム画像の著作権および商標権、その他知的財産権は、当該コンテンツの提供元に帰属します。</p>
    <p>©2023 TOUMA ASAO</p>
  </div>
</div>
