<div class="set-travel-area">
  <ol class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="travel-text-area">
        <h5 class="ms-2 mt-2 mb-0 me-auto fw-bold">1day</h5>
        <hr width="ms-2 me-auto auto">
        <p class="ms-2 me-auto">Cras justo odio</p>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="travel-text-area">
        <h5 class="ms-2 mt-2 mb-0 me-auto fw-bold">2day</h5>
        <hr width="ms-2 me-auto auto">
        <p class="ms-2 me-auto">Cras justo odio</p>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="travel-text-area">
        <h5 class="ms-2 mt-2 mb-0 me-auto fw-bold">3day</h5>
        <hr width="ms-2 me-auto auto">
        <p class="ms-2 me-auto">Cras justo odio</p>
      </div>
    </li>
  </ol>
</div>
