<div class="set-travel-area">
  <h1 class="mypage-subtitle">セット中の旅行プラン</h1>
  <ol class="list-group">
    <% response_lines = @travelplan.gpt_response.split("\n") %>
    <% day_counter = 0 %>
    <% plan_content = [] %>
    <% response_lines.each do |line| %>
      <% if line.match?(/Day|日目/) && !plan_content.empty? && day_counter != 0 %>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="travel-text-area">
            <h5 class="ms-2 mt-2 mb-0 me-auto fw-bold"><%= day_counter %>day</h5>
            <hr width="ms-2 me-auto auto">
            <% plan_content.each do |content| %>
              <p class="ms-2 me-auto"><%= content.gsub('-', '').strip %></p>
            <% end %>
          </div>
        </li>
        <% plan_content.clear %>
        <% day_counter += 1 %>
      <% elsif line.match?(/Day|日目/) %>
        <% day_counter += 1 %>
      <% else %>
        <% plan_content << line %>
      <% end %>
    <% end %>
    <% if !plan_content.empty? %>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="travel-text-area">
          <h5 class="ms-2 mt-2 mb-0 me-auto fw-bold"><%= day_counter.zero? ? 1 : day_counter %>day</h5>
          <hr width="ms-2 me-auto auto">
          <% plan_content.each do |content| %>
            <p class="ms-2 me-auto"><%= content.gsub('-', '').strip %></p>
          <% end %>
        </div>
      </li>
    <% end %>
  </ol>
</div>
